@use "../../foundation/import";
@use "../../mixin" as m;

// Base (Mobile First)

.c-inner {
  width: 89.333vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
@include m.mq(pc) {
  .c-inner {
    width: 71.429vw;
  }
}
