@use "../../foundation/import";
@use "../../mixin" as m;

// Base (Mobile First)

.c-inner {
  width: 91.467vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
@include m.mq(pc) {
  .c-inner {
    width: 83.333vw;
  }
}
